{% extends 'new_base.html' %}

{% block style %}
{% endblock %}



{% block content %}

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<div class="w3-row-padding w3-padding-16 w3-center" id="brand">
     <div class="w3-quarter">
      <img src="{{url_for('static',filename='brand/nike500.png')}}" alt="Steak" style="width:100%">
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>

    <div class="w3-quarter">
      <img src="{{url_for('static',filename='brand/adidas500.png')}}" alt="Steak" style="width:100%">
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>

    <div class="w3-quarter">
      <img src="{{url_for('static',filename='brand/nb500.png')}}"  alt="Cherries" style="width:100%; color:black;">
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>

    <div class="w3-quarter">
      <img src="{{url_for('static',filename='brand/jordan500.png')}}" alt="Pasta and Wine" style="width:100%">
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>


</div>

    {{marketprice| length}}



<h2>등록된 브랜드 현황</h2>
<br>
<p>
{%for i in model | groupby('brand')%}
{{i[0]}} : 등록된갯수 {{i[1] |length}}
{% endfor %}
</p>




<h2></h2>
<h2>거래량이 많은 모델</h2>
{% for i in modelprice | groupby('code') %}
    {% for k in model %}
        {%if k.code == i[0]%}
            {{k.subname}}<br>
            평균차익 :{{((i[1]|sum(attribute='price') // i[1] |length ) - k.retail_price) | price}}<br>
        {% endif %}
    {% endfor %}
{% for i in i[1]|groupby('size') %}
size : {{i[0]}} {{i[1] |count}}<br>
{% endfor %}
코드번호 : {{i[0]}}<br>
거래수 : {{i[1] |length}}<br>
평균가격 : {{ (i[1]|sum(attribute='price') // i[1] |length ) | price}}<br><br>

{% endfor %}

{% endblock %}